<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Curso-ADS</title>
</head>
<body>
    <div class="corpo">
        <nav class="naver">
                <a href="#">click aqui</a>
                <a href="#">click aqui</a>
        </nav>

        <h1>Página do Curso de ADS</h1>
        
        <div class="grid-container">
          <div class="item1">Header</div>
          <div class="item2">Menu</div>
          <div class="item3">Main</div>  
          <div class="item4">Right</div>
          <div class="item5">Footer</div>
        </div>
        
            teste
        </div>
    
    </div>
</body>
</html>